<!-- How to Include a partial or, RAW output using the ejs tag <%- %> -->
<%- include('partials/head.ejs') %>

<h1>My Planetarium</h1>

<%- include('partials/footer.ejs') %>

<!-- 
    EJS TAGS:
    <%  %> Control Flow output delimiter. Use it for for-loops, if statements.
    <%= %> Output delimiter. Use it when you want to print the value of a variable, or the result of an expression
    <%- %> Raw output delimiter. Use it when including partials in your files.
 -->